*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #0b2434;
  color: white;
  font-family: "Karla", sans-serif;
}

.tenzies {
  width: 22rem;
  height: 22rem;
  margin: 2em auto;
  padding: 1em 2em;
  background: #f5f5f5;
  color: #2b283a;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.paragraph {
  color: #4a4e74;
  font-size: 1rem;
  text-align: center;
}

.dice {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  width: 100%;
}

.die {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #ffffff;
  padding: 0.5em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button {
  font-family: inherit;
  font-size: 1rem;
  background: #5035ff;
  color: #ffffff;
  padding: 0.5em 2em;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgb(173, 173, 173);
  cursor: pointer;
}

.button:hover {
  background: rgb(55, 24, 252);
}

.button:active {
  box-shadow: none;
}
